.separator {
  padding-top: 20px;
  padding-bottom: 20px;
}

.space {
  padding: 10px;
}

.text-error {
  color: red;
}

.text-error-font-size {
  font-size: 10px;
}

.my-container {
  padding: 50px 40px 20px;
}

.phase-title {
  font-size: 27px;
}

.padding-left {
  padding-left: 10px;
}

.padding-left-40px {
  padding-left: 40px;
}

ul{
  list-style-type: none !important;
}

li {
  text-decoration: none;
  list-style-type: none;
}
